<mat-toolbar class="toolbar">
    <span class="example-title">Courses Online</span>
    <span class="spacer"></span>
    <button (click)="showCourses()" mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <span>Show Courses</span>
    </button>
    
    <button (click)="deleteUser()" mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <span>Delete User</span>
    </button>
    <button (click)="signOut()" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span>Sign Out</span>
    </button>
</mat-toolbar>