.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  mat-card {
    width: 600px;
  }