<mat-toolbar class="toolbar" style="color: #388e3c;background-color: white;">
    <span class="example-title">My Lessons</span>
    <span class="spacer"></span>
    <button (click)="signOut()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Sign Out</span>
    </button>
    
    @if(role == "teacher")
    {
    <button (click)="addLesson()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Add Lesson</span>
    </button> 
    }
</mat-toolbar>

<mat-list role="list" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    @for(lesson of (lessons|async); track lesson.id)
    {
        <div class="lesson-container">
            <mat-card class="lesson-card">
                <mat-card-header>
                    <mat-card-title>{{lesson.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{lesson.content}}</p>
                </mat-card-content>

                @if(role == "teacher")
                {
                    <button class="enroll-button" mat-raised-button (click)="editLesson(lesson.id)">Edit</button>
                }

                @if(role == "teacher")
                {
                    <button class="enroll-button" mat-raised-button (click)="deleteLesson(lesson.id)">Delete</button>
                }
            </mat-card>
        </div>
    }
</mat-list>
