<mat-toolbar class="toolbar" style="color: #388e3c;background-color: white;">
    <span class="example-title">My Lessons</span>
    <span class="spacer"></span>
    <button (click)="signOut()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Sign Out</span>
    </button>
    
    @if(role == "teacher")
    {
    <button (click)="addLesson()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Add Lesson</span>
    </button> 
}

</mat-toolbar>
<mat-list role="list">
    @for(lesson of (lessons|async);track lesson.lessonId)
    {
        <div>
            <mat-list-item role="listitem">
                <h3 class="list" matLine>{{lesson.title}}</h3>
                <br>
                <p class="list" matLine>{{lesson.content}}</p>
                <br>
            </mat-list-item>
            <button class="list" mat-raised-button >Enroll</button>
        </div>
    }
</mat-list>