.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}

.lessons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.lesson-card {
  width: 300px;
  margin-bottom: 20px;
}

.lesson-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* הוספת gap */
}

.lesson-actions button {
  margin-left: 5px; /* הוספת מרווח שמאלי בין הכפתורים */
  flex-shrink: 0; /* מניעה מהכפתורים להתרחב */
}