<mat-toolbar class="toolbar" style="color: #388e3c;background-color: white;">
    <span class="example-title">My Courses</span>
    <span class="spacer"></span>
    <button (click)="signOut()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Sign Out</span>
    </button>

    @if(role == "teacher")
    {
    <button (click)="addCourse()" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <span>Add Course</span> 
    </button> 
}

</mat-toolbar>

<mat-list role="list" class="course-list container">
    @for(course of (courses | async);track course.id)
    {
    <div class="course-item">
        <button (click)="showLessons(course.id)">
            <mat-list-item role="listitem">
                <h3 class="course-title" matLine>{{course.title}}</h3>
                <p class="course-description" matLine>{{course.description}}</p>
            </mat-list-item>
        </button>
        <button class="enroll-button" mat-raised-button (click)="enroll(course.id)">Enroll</button>
        @if(role == "teacher")
        {
            <button class="enroll-button" mat-raised-button (click)="deleteCourse(course.id)">Delete</button>
        }
        @if(role == "teacher")
        {
            <button class="enroll-button" mat-raised-button (click)="edit(course.id)">Edit</button>
        }
    </div>
    }
</mat-list>