<mat-toolbar class="toolbar" color="primary">
  <span class="example-title">Courses Online</span>
  <span class="spacer"></span>
  <div class="toolbar-buttons">
    <button (click)="signOut()" mat-button>
      <mat-icon>logout</mat-icon>
      Sign Out
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    @if (role == 'teacher') {
    <button (click)="addCourse()" mat-button>
      <mat-icon>add</mat-icon>
      Add Course
    </button>
    }
  </div>
</mat-toolbar>

<mat-list role="list" class="course-list container">
  @for (course of courses | async; track course.id) {
  <mat-card class="course-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>school</mat-icon>
        {{ course.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon>description</mat-icon>
        {{ course.description }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="course-actions">
        <button (click)="showLessons(course.id)" mat-raised-button color="primary">
          <mat-icon>menu_book</mat-icon>
          View Lessons
        </button>
        @if (isEnrolled(course.id)) {
        <button class="enroll-button" mat-raised-button color="warn" (click)="unenroll(course.id)">
          <mat-icon>remove_circle</mat-icon>
          Unenroll
        </button>
        } @else {
        <button class="enroll-button" mat-raised-button color="primary" (click)="enroll(course.id)">
          <mat-icon>add_circle</mat-icon>
          Enroll
        </button>
        }
        @if (role == 'teacher') {
        <button class="enroll-button" mat-raised-button color="accent" (click)="edit(course.id)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button class="enroll-button" mat-raised-button color="warn" (click)="deleteCourse(course.id)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        }
      </div>
    </mat-card-content>
  </mat-card>
  }
</mat-list>