@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --primary-color: #4CAF50; /* ירוק */
  --primary-color-dark: #388E3C;
  --primary-color-light: #81C784;
}

.mat-toolbar.mat-primary {
  background: var(--primary-color);
  color: white;
}

.mat-raised-button.mat-primary {
  background-color: var(--primary-color);
  color: white;
}